<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  
  <title>Node File Uploads</title>
  <style>  
    .gfg { 
        width:auto; 
        text-align:center; 
        padding:20px; 
        margin: 30px;
    } 
    img { 
        max-width:50%;
        max-height: 50%;
        height:auto; 
    } 
</style> 
</head>
<body>
  <div class="container">
    <h1>Uploaded Files</h1>

    <button type="button" onclick="document.location = '/dashboard'" class="btn purple">Dashboard</button>
    <button type="button" onclick="document.location = '/upload'" class="btn blue">Upload</button>

    <button type="button" onclick="document.location = '/delete/<%=file%>'" class="btn red">Delete</button>

    
    
        <div class = "gfg"> 
            <img src= 
            "<%=path%>/<%=file%>">
        
        </a>
            
        </div> 

    
  </div>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  
</body>
</html>